.style{
    padding: 1rem 4rem;
    border: 1px solid #fc6075;
    display: flex;
}
.style ul li {
    display: flex;
    gap: 5rem;
    line-height: 2.6rem;
}
.style ul li .title{
    width: 20%;
}
.style ul li .desc{
    width: 80%;
}

.css-10ojngq-MuiListItem-root{
    /* text-align: center; */
    display: block;
}

.leftGrid{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align-last: end;
}
