.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.avatarNname {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profileBasic {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  font-size: larger;
  background-color: #cfe8fc;
}

.ProfileStyle {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
  border-radius: 1rem;
  /* background-color: #ededed; */
  padding: 1rem;
}
.css-heg063-MuiTabs-flexContainer {
  display: flex;
  justify-content: center !important;
}

.profileInfo {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  background: #3f413f;
  border-radius: 5rem;
  padding: 2rem 0;
}

@media (max-width: 600px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
  }

  .avatarNname {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .profileBasic {
    font-size: medium;
  }
}

.tab-Style {
  font-size: 20px !important;
  color: "rgb(28, 126, 214)";
  font-weight: 700 !important;
}

.infoStyle {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.profileFOntSize .css-10hburv-MuiTypography-root {
  font-size: 0.9rem;
}
.tableIcon
  .MuiButtonBase-root
  .css-1vweko9-MuiSvgIcon-root-MuiTableSortLabel-icon {
  display: none;
}
.tableIcon .css-15ina3-MuiTableCell-root {
  min-width: 150px;
}
