.icon-style-card{
    position: relative;
    border: 1px solid #c7c0c0;
}
.icon-style-inner{
    position: absolute;
    width: 42px;
    height: 42px;
    top: 0%;
    right: 0%;
    background: rgb(96, 96, 255);
    border-radius: 0px 0px 0px 72px;
}
.butterfly-inner{
    position: absolute;
    width: 50px;
    top: 0%;
    left: -2%;
    transform: rotate(70deg);
}
.butterfly-inner img{
    width: 100%;
}
