/* .calenderDesign .fc .fc-dayGridMonth-view .fc-scrollgrid .fc-scrollgrid-section .fc-daygrid-day-frame{
    background-color: red;
} */

.calenderDesign .fc-daygrid-event{
    border: 0px;
    background-color: red;

}

.calenderDesign .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    min-height: 4em;
}