.BasicInfoList {
  /* position: 'relative'; */
  display: flex;
  flex-direction: column;
  max-width: 420px;
  padding-bottom: none;
}

.editBasicInfoBtn {
  align-self: flex-end;
  top: 5px;
  right: 10px;
}