.css-15ab8u6-MuiButtonGroup-root .MuiButtonGroup-grouped:not(:last-of-type) {
  border-radius: 5px !important;
  border: 1px solid #000000;
}

.css-ttn1xo {
  padding: 24px 0 !important;
}
.css-srtxtf {
  padding: 24px 0 !important;
}
