.button {
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
  column-gap: 20px;
}

.cntnr {
  width: auto;
  max-width: 100%;
  height: 600px;
  overflow: scroll;
}


.table-wrapper {
  max-width: 93vw;
  padding: 10px;
  overflow-x: scroll;

}


.heading {
  position: sticky;
  top: 0;
  /* background-color: white; */
  z-index: 99;
}

.sn { 
  position: sticky;
  left: 0;
  /* background-color: white; */
  z-index: 99;
}

.emp {
  position: sticky;
  left: 4.75%;
  /* background-color: white; */
  z-index: 99;

}


.snNo {
  position: sticky;
  left: 0%;
  /* background-color: white; */
  z-index: 1;
}


.empname {
  position: sticky;
  /* background-color: white; */
  left: 3.75%;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 10px;
  }

  .cntnr {
    height: auto;
    overflow: visible;
  }

  .table {
    min-width: 600px;
  }

  .sn,
  .emp {
    width: 100px;
    font-size: 16px;
  }

  .button {
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
  }
}

@media screen and (max-width: 480px) {
  .table-wrapper {
    max-width: 100vw;
    padding: 0;
    overflow-x: auto;
  }

  .sn,
  .emp,
  .snNo,
  .empname {
    position: static;
    background-color: inherit;
    z-index: initial;
    width: auto;
  }

  .heading {
    position: sticky;
    top: 0;
    /* background-color: white; */
    z-index: 99;
  }
}