.projectProgress {
  padding: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* text-align: center; */
  column-gap: 2rem;
  color: white;
}

.progressBox {
    padding: 1.5rem 1rem;
    border-radius: 1rem
}